.light .light-bg-secondary {
  background-color: #fafbfc;
}

.light .light-bg-dark {
  background-color: #1a1a1a;
}

.light .light-text-primary {
  color: #0f0f0f;
}

.light .light-text-secondary {
  color: #575656;
}

.light .light-border-primary {
  border-color: #dfdede;
}

.dark .dark-bg-primary {
  background-color: #0f0f0f;
}

.dark .dark-bg-secondary {
  background-color: #1a1a1a;
}

.dark .dark-text-primary {
  color: #f1f1f1;
}

.dark .dark-text-secondary {
  color: #7c7c7c;
}

.dark .dark-border-primary {
  border-color: #424242;
}

.dark .dark-border-secondary {
  border-color: #222222;
}

.light .light-btn {
  color: #f1f1f1;
  background-color: #0f0f0f;
}

.dark .dark-btn {
  color: #0f0f0f;
  background-color: #f1f1f1;
}

.light .light-btn-hover:hover {
  background-color: #f0f0f0;
}

.dark .dark-btn-hover:hover {
  background-color: #222222;
}

.font-normal-bold {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.video-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
}

.volume-slider,
.progress-bar {
  width: 100px;
  cursor: pointer;
  appearance: none;
  background: #444;
}

.volume-slider::-webkit-slider-thumb,
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  background: #fff;
  width: 12px;
  height: 12px;
}

.custom-scrollbar {
  overflow-y: auto; /* Enable vertical scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Light Theme */
.light {
  --tooltip-bg-color: #fafbfc; /* Light background for tooltips */
  --tooltip-text-color: #0f0f0f; /* Light text color for tooltips */

  --xaxis-color: #333; /* Light color for X-axis title */
  --xaxis-bg-color: #ffffff; /* Background color for X-axis */
  --xaxis-labels-color: #666; /* Light color for X-axis labels */

  --yaxis-color: #333; /* Light color for Y-axis title */
  --yaxis-bg-color: #ffffff; /* Background color for Y-axis */
  --yaxis-labels-color: #666; /* Light color for Y-axis labels */
}

/* Dark Theme */
.dark {
  --tooltip-bg-color: #1a1a1a; /* Dark background for tooltips */
  --tooltip-text-color: #f1f1f1; /* Dark text color for tooltips */

  --xaxis-color: #ccc; /* Dark color for X-axis title */
  --xaxis-bg-color: #222222; /* Background color for X-axis */
  --xaxis-labels-color: #aaa; /* Dark color for X-axis labels */

  --yaxis-color: #ccc; /* Dark color for Y-axis title */
  --yaxis-bg-color: #222222; /* Background color for Y-axis */
  --yaxis-labels-color: #aaa; /* Dark color for Y-axis labels */
}
